
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("duzfoto.jpg");
    height: 100vh;
    background-size: 150% 150%;

}
a{
    color:white;
    
}
.container{
    width: 80%;
    margin:auto;

}

/*!header start */
header{
    height: 100px;
    border-bottom: 2px solid rgba(0,0,255,0.1);
}
header nav {

    display: flex; 
    justify-content: space-between; /*soldakiyle sağdakini en uzak noktaya atııyor.*/
    align-items: center;
    height: 100%;
    
    }

header nav  .logo a{
    color:white;
    text-decoration: none;
    font-weight: 700;
    font-size :20px;
}
nav ul{
    list-style: none;
    display: flex; /* ul nin içerisindeki elemanları yan yana getirir.*/
    column-gap: 30px; /*aralarını açıyor. */
}
nav ul li a{
    color:white;
    text-decoration: none;
    
}

nav ul li a:hover{
    color:blue;
   transition:color .25s ease; /* renk değiştirmeyi yavaşlatır*/
    
}
nav  .menu{
    display: flex;
    align-items: center;
    column-gap: 48px; /* uzaklaştırmak için*/
}

nav .menu .menu-button{
    

color: #0ba2c0;
text-decoration: none;
background-color:rgba(0,0,255,0.1) ;
padding :10px 20px;
border-radius: 56px;
transition: all .35s ease;
}

nav .menu .menu-button:hover{
    

   background-color:blue;
   color:white;

    }
/*!header end */

/*! responsive-begin */
 @media (max-width:576px){
     .container{
         width:100%;
         padding-left: 12px;
         padding-right: 12px;
     }
 }
/*! responsive-finish */

/*! section start */
.content{
    color:white;
    height:calc(100vh-100px);
    padding-top: 100px;
}
.content h1{
    font-size:60px;
 color:brown;
}
.content h3{
    color:red;
}
.content p{
    font-size:24px;
   
    margin-top:10px;
   
}


/*!section finish */
